<!doctype html>

<html ng-app="custApp">

<head>
  <title>AngularBasic</title>
  <script src="scripts/angular.min.js"></script>
  <script>
    function cutomerCtrl($scope) {
      $scope.customerName = "noufal";
      $scope.customerCode = "7755";
      $scope.submit = function () {
        if ($scope.customerName.length == 0) {
          alert("check entry");
        }
      }
    }
    var custApp = angular.module("custApp", []);
    custApp.controller("cutomerCtrl", cutomerCtrl);
  </script>
</head>

<body>
  <div id="customerScreen" ng-controller="cutomerCtrl">
    Customer Name:
    <input type="text" ng-model="customerName" />
    <br/>Customer Code:
    <input type="text" ng-model="customerCode" />
    <hr/>
    <span id="custNameDisp">Customer Name: {{customerName}}</span>
    <br/>
    <span id="custCodeDisp">Customer Code: {{customerCode}}</span>
    <hr/>
    <input type="submit" ng-click="submit()" value="Submit" />
  </div>
</body>

</html>